<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>berners</title>
</head>
<body>
    <h1>Berners</h1>
    <img src="/img/Berners.jpg" alt="foto de Berners">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut earum voluptatem accusamus nihil cupiditate fuga, delectus, veritatis reiciendis a architecto, saepe id minima blanditiis fugit perferendis sequi atque ab dolor?</p>

</body>
</html>