<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hamilton</title>
</head>
<body>
    <h1>Hammilton</h1>
    <img src="/img/Hammilton.jpg" alt="foto de Hammilton">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, in, aperiam facere eaque numquam fugiat neque dolor autem dolorem amet earum libero rerum. Commodi non autem error labore, explicabo voluptatum!</p>
</body>
</html>