<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hopper</title>
</head>
<body>
    <h1>Hopper</h1>
    <img width="50%" src="/img/Hopper.jpg" alt="foto de Hopper">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem eum ratione repudiandae asperiores alias, hic accusamus. Iusto corporis similique nulla libero veritatis eaque officia aliquid fugit, repellendus, a necessitatibus porro?</p>
</body>
</html>